.jImgForm > table {
    border-collapse: collapse;
}

.jImgForm > table td {
    padding: 2px 5px;
    border: 1px solid %grey;
}

.jImgForm .asBtn {
    width: 200px; height: 30px;
    margin: 5px;
    line-height: 30px;
    background-color:%grey;
    color: %white;
}
.jImgForm .asBtn:hover,
.jImgForm .asBtn.active {
    background-color:%blue;
}

.jImgForm td img {
    display: block;
    min-width: 20px; min-height: 20px;
    max-width: 500px;
    width: auto; height: auto;
    margin: 3px 0px;
    border: 1px dashed %grey;
    cursor: pointer;
}
.jImgForm td img:hover {
    border-color:%blue;
}



.jImgForm > table > tr:first-child strong {
    padding: 10px;
}

.jImgForm > table > tr:first-child strong.red { color:%red2; }







