.pr_tabs .heading {
    position: relative;
}

.pr_tabs .heading > .asBtn {
    display: inline-block;
}

.pr_tabs .heading > .asBtn > .ico {
    width: 40px; height: 40px;
    float: left;
    padding: 10px;
}

.pr_tabs .heading > .asBtn > .str {
    height: 40px;
    padding: 10px 20px;
    line-height: 20px;
}

.pr_tabs .heading > .asBtn > .ico + .str {
    margin-left: 0px;
    padding-left: 0px;
}
